* {
    padding:0;
    margin:0;
    font-size:12px
}

img {
    border:none;
}

ul,ul li {
    list-style:none;
}

.clear {
    clear:both;
    line-height:0px !important;
    height:0px !important;
    font-size:0px !important;
}
